#tareas-pendientes{
    padding: 10px;
}

#tareas-proceso{
    padding: 10px;
}

#tareas-realizadas{
    padding: 10px;
}

.tareas-contenedores{
    height: 500px;
    background-color: #f4f4f4;
        border-radius: 6px;
    border-color: darkcyan;
    border-style: double;
}

.item{
    cursor: move;
}

ul{
    list-style-type: none;
}

.realizadas{
    text-decoration: line-through;
}