<div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Mis tareas</h3>
        </div>
        <div class="col-lg-6">
            <div class="pull-right" style="padding-top:15px">
                <a class="btn btn-success" href="#/NewToDo">Crear tarea</a>
            </div>
        </div>
    </div>

    <div id="contenedor-primario">
        <div class="row">

            <div id="tareas-pendientes" class="col-lg-4">
                <h4>Por hacer</h4>
                <div class="tareas-contenedores" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'div1')">
                    <div ng-repeat="item in datos| filter:{estado:'pendiente'} track by item.id" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragComplete($data,$event)"
                    ng-center-anchor="true" class="thumbnail item">
                        <div>
                            <h4>
                            <a ng-href="#/NewToDo/{{item.id}}">{{item.tarea}}</a>
                        </h4>
                        </div>
                        <div>
                            <span>
                            {{item.comentarios}}
                        </span>
                        </div>
                        <div>
                            <small class="label label-primary" title="Fecha de creación">
                            {{item.fechaCreacion | date:'dd/MMM/yyyy'}}
                        </small>
                            <div class="pull-right">
                                <small class="label label-info" title="Fecha de ejecución">
                            {{item.fecha.startDate | date:'dd/MMM/yyyy'}} - {{item.fecha.endDate | date:'dd/MMM/yyyy'}}
                        </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tareas-pendientes" class="col-lg-4">
                <h4>Haciendo</h4>
                <div class="tareas-contenedores" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'div2')">
                    <div ng-repeat="item in datos| filter:{estado:'proceso'} track by item.id" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragComplete($data,$event)"
                    ng-center-anchor="true" class="thumbnail item">

                        <div>
                            <h4>
                            <a ng-href="#/NewToDo/{{item.id}}">{{item.tarea}}</a>
                        </h4>
                        </div>
                        <div>
                            <span>
                            {{item.comentarios}}
                        </span>
                        </div>
                        <div>
                            <small class="label label-primary" title="Fecha de creación">
                            {{item.fechaCreacion | date:'dd/MMM/yyyy'}}
                        </small>
                            <div class="pull-right">
                                <small class="label label-info" title="Fecha de ejecución">
                            {{item.fecha.startDate | date:'dd/MMM/yyyy'}} - {{item.fecha.endDate | date:'dd/MMM/yyyy'}}
                        </small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="tareas-pendientes" class="col-lg-4">
                <h4>Realizadas</h4>
                <div class="tareas-contenedores" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'div3')">
                    <div ng-repeat="item in datos| filter:{estado:'realizado'} track by item.id" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragComplete($data,$event)"
                    ng-center-anchor="true" class="thumbnail item">
                        <div>
                            <h4>
                            <a ng-href="#/NewToDo/{{item.id}}">{{item.tarea}}</a>
                        </h4>
                        </div>
                        <div>
                            <span>
                            {{item.comentarios}}
                        </span>
                        </div>
                        <div>
                            <small class="label label-primary" title="Fecha de creación">
                            {{item.fechaCreacion | date:'dd/MMM/yyyy'}}
                        </small>
                            <div class="pull-right">
                                <small class="label label-info" title="Fecha de ejecución">
                            {{item.fecha.startDate | date:'dd/MMM/yyyy'}} - {{item.fecha.endDate | date:'dd/MMM/yyyy'}}
                        </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>